@model IEnumerable<BlogMvcApp.Models.BlogModel>

@{
    ViewBag.Title = "Index";
}

<h2>Blog Listesi</h2>

<div class="row">
    <div class="col-md-8">
        @foreach (var blog in Model)
        {
        <div class="blog">
            <h3 class="page-header">
                @blog.Baslik
            </h3>

            <p>
                <span class="glyphicon glyphicon-time"></span>
                @blog.EklemeTarihi
            </p>
            <hr />
            <img class="img-responsive" src="https://poshancurethrudiet.com/wp-content/uploads/2014/09/placeholder.gif" alt="" />
            <hr />
            <p>
                @blog.Aciklama
            </p>
            <button class="btn btn-primary">Daha Fazla...</button>
        </div>

        }
    </div>
    <div class="col-md-4">

    </div>

</div>


